html {
    scroll-behavior: smooth;
}

body {
    margin: 0px;
    background-color: lightgreen;
}

h1 {
    margin: 0px;
}

/* Dette er stripa øverst på nettsida. */
header {
    display: flex;
    width: 100%;
    z-index: 99;
    padding-left: 64px;
    padding-right: 64px;
    box-sizing: border-box;
}

#forside-bakgrunn {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    z-index: -1;
    height: 100vh;
    object-fit: cover;
    object-position: 0px 0px;
}

#slagord-holder {
    width: 100%;
    display: flex;
    height: 90vh;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0px;
    flex-direction: column;
}

#slagord-holder a {
    background-color: rgb(168, 43, 43);
    border: none;
    padding: 16px;
    border-radius: 50px;
    color: white;
    border: 2px solid #000;
    cursor: pointer;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

#slagord {
    color: white;
    text-shadow: 0px 0px 32px #000, 0px 0px 16px #000, 0px 0px 48px #000;
    font-size: 5em;
    text-align: center;
}

.pacifico-regular {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
}

.hovedinnhold {
    background-color: white;
    border-radius: 32px;
    box-shadow: 0px 8px 32px #000;
    padding: 32px;
    display: flex;
    flex-direction: column;

}

#hovedside-innhold {
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    top: 90vh;
    width: 50%;
    position: absolute;
    height: 1250px;
}

.hovedinnhold h1 {
    margin: 0px;
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
}

.hovedinnhold p {
    font-size: larger;
}

/* Dette er navigasjonsmenyen. */
#navigasjon-sjekkboks {
    display: none;
}

#navigasjon-linker {
    display: block;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    position: absolute;
    left: 0px;
    top: 8px;
    margin: 0px;
    padding: 64px;
    padding-top: 86px;
    z-index: 200;
    display: flex;
    flex-direction: column;
    gap: 36px;
    border-radius: 24px;
    margin: 16px;
    box-shadow: 0px 8px 16px #00000089;
    list-style-type: none;
}

#navigasjon-sjekkboks:not(:checked) + #navigasjon-linker {
    display: none;
}

#navigasjon-linker a {
    text-decoration: none;
    font-size: xx-large;
    color: black;
    transition: text-shadow, transform 0.1s ease-in-out;
    transform: scale(1);
    display: inline-block;
    user-select: none;
}

#navigasjon-linker a.her {
    text-shadow: 0px 0px 16px #178d29, 0px 0px 16px #28c23f, 0px 0px 64px #21b343;
}

#navigasjon-linker a:hover {
    transform: scale(1.125);
}

#navigasjon-knapp {
    display: block;
    align-self: center;
    cursor: pointer;
    font-size: 5em;
    justify-self: left;
    flex: 1;
    font-weight: 700;
    z-index: 9999;
    user-select: none;
}

.nyhetsholder {
    display: flex;
    flex-direction: row;
    gap: 32px;

    overflow-x: scroll;
    margin-top: 24px;
    margin-bottom: 48px;
}

.nyhetsholder a {
    background-color: rgb(171, 219, 170);
    border-radius: 32px;
    cursor: pointer;
    width: 300px;
    display: flex;
    flex-direction: column;
    border: solid 1px #0000006f;
}
.nyhetsholder img {
    border-radius: 32px;
    box-shadow: inset 0px 0px 5px #000;
}

.nyhetsholder h3 {
    padding: 24px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}