html {
    scroll-behavior: smooth;
}

:root {
    --bakgrunnsfarge: rgb(102, 133, 102);
}

body {
    margin: 0px;
    background-color: var(--bakgrunnsfarge);
}

h1 {
    margin: 0px;
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    margin: 0px;
    font-size: 1.125rem;
    font-family: Arial, Helvetica, sans-serif;
}

h3 {
    margin: 0px;
    font-size: 1.125rem;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}

@font-face {
    font-family: 'Pacifico';
    font-style: normal;
    font-weight: 400;
    src: local('Pacifico Regular'), local('Pacifico-Regular'), url(fonts/Pacifico-Regular.woff2) format('woff2');
    font-display: swap;
}

/* Dette er stripa øverst på nettsida. */
header {
    position: absolute;
    width: 100%;
    z-index: 9999;
    height: 15rem;
    box-sizing: border-box;
    background-image:
        linear-gradient(to top, rgba(255, 255, 255, 0), rgb(255, 255, 255))
}

main {
    background-color: white;
    border-radius: 2rem;
    box-shadow: 0px 8px 32px #000;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    top: 90vh;
    width: 100%;
    margin-top: -5rem;
    box-sizing: border-box;
}

#forside-bakgrunn {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    z-index: -1;
    height: 100vh;
    object-fit: cover;
    object-position: 0px 0px;
    mask-image: linear-gradient(to bottom, rgb(255, 255, 255), 95%, rgba(0, 0, 0, 0));
}

#bildebanner {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    z-index: -1;
    height: 500px;
    object-fit: cover;
    object-position: 0px 0px;
}


.button-pill {
    background-color: rgb(168, 43, 43);
    padding: 1rem;
    border-radius: 2rem;
    color: white;
    border: 0.125rem solid #000;
    cursor: pointer;
    text-decoration: none;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}

#slagord-holder {
    width: 100%;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#slagord-holder a {
    margin-top: 3rem;
}

#slagord {
    color: white;
    text-shadow: 0px 0px 32px #000, 0px 0px 16px #000;
    font-size: 4rem;
    line-height: 6rem;
    text-align: center;
}

#slagord-liten {
    color: white;
    text-shadow: 0px 0px 32px #000, 0px 0px 16px #000;
    font-size: 2rem;

}

.pacifico-regular {
    font-family: Pacifico, cursive;
    font-weight: 400;
}



#logo {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

/* Dette er navigasjonsmenyen. */
#navigasjon-sjekkboks {
    display: none;
    width: 0;
    height: 0;
}

nav {
    display: none;
    background-color: rgba(255, 255, 255, 0.587);
    backdrop-filter: blur(16px);
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    position: absolute;
    right: 0px;
    margin: 0px;
    padding: 2.5rem;
    padding-top: 5rem;
    width: 100%;
    box-sizing: border-box;
    border-radius: 24px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    box-shadow: 0px 8px 16px #000000;
}

nav ul {
    padding: 0px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

nav li {
    list-style-type: none;
    padding: 0;
    transition: transform 0.1s ease-in-out;
}

#navigasjon-sjekkboks:checked~nav {
    display: block;
}

nav li:hover {
    transform: scale(1.125);
}

nav a {
    text-decoration: none;
    font-size: 1.85rem;
    color: black;
    transform: scale(1);
    user-select: none;
}

nav a.her {
    text-shadow: 0px 0px 16px #178d29, 0px 0px 16px #28c23f, 0px 0px 64px #21b343;
}

#navigasjon-knapp {
    display: block;
    cursor: pointer;
    font-size: 5em;
    justify-self: left;
    flex: 1;
    z-index: 9999;
    user-select: none;
    position: absolute;
    right: 0;
    top: 0;
    margin: 1rem;
}

.statusholder {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-auto-columns: 128px;
    flex-direction: row;
    gap: 0.75rem;
    margin-top: 1rem;
    align-items: stretch;
    
}

.statusholder a {
    background-color: rgb(168, 232, 156);
    border-radius: 32px;
    cursor: pointer;
    width: 1fr;
    display: flex;
    flex: 1;
    flex-direction: column;
    border: solid 1px #0000006f;
    height: 75%;
}

.statusholder img {
    border-radius: 32px;
    box-shadow: inset 0px 0px 5px #000;
    width: 100%;
}

.statusholder h3 {
    padding: 24px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

#blikjent-holder {
    align-self: center;
    display: flex;
    flex-wrap: wrap;
    padding-left: 8rem;
    padding-right: 8rem;
    margin-top: 2rem;
    justify-content: center;
    gap: 2rem;
}

#blikjent-holder a {
    flex: 0 0 calc(33.333% - 2rem);
    display: flex;
    gap: 16px;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    transition: transform 0.15s ease-in-out;
    
}

#blikjent-holder a:hover {
    transform: scale(1.1);
}

#blikjent-holder img {
    aspect-ratio: 1;
    box-shadow: 0px 12px 16px #00000075;
    object-fit: cover;
    width: 100%;
    border-radius: 100%;
}

#blikjent-holder h2 {
    margin: 0px;
    font-size: 1.25rem;
}

#blikjent-holder div {
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: center;
}

#nyhetsholder {
    background-color: lightgrey;
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    border-radius: 24px;
}

#nyhetsholder a {
    cursor: pointer;
    background-color: white;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    border-radius: 0.75rem;
    overflow: hidden;
    border: 2px solid grey;
    align-items: center;
    color: black;
    text-decoration: none;
}

#nyhetsholder h3 {
    font-size: 1.25rem;
}

#nyhetsholder img {
    width: 5rem;
    height: 5rem;
}

.topptittel {
    margin-top: 3rem;
}

footer {
    background-color: rgb(40, 37, 37);
    color: white;
    display: flex;
    justify-content: center;
    padding: 4rem;
    margin-top: 4rem;
}

footer div {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
}

.social-media ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
}

.social-media li {
    list-style: none;
}

.social-media li img {
    filter: invert();
    width: 1.5rem;
}

.overskrift {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 12.5rem;
    background-image: linear-gradient(to bottom, rgba(144, 238, 144, 0), 90%, var(--bakgrunnsfarge)), url("bilder/forside_bakgrunn.webp");
    background-size: cover;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

#henvendelse {
    height: 5rem;
}

.kontakt-rad {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
}

#kontakt-form {
    background-color: lightgrey;
    padding: 1rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-family: Arial, Helvetica, sans-serif;
}

#kontakt-form input {
    border-radius: 500px;
    border: 0;
    padding: 0.5rem;
}

#kontakt-form textarea {
    border: 0;
    width: 100%;
    border-radius: 1rem;
    resize: none;
    padding: 0.5rem;
    height: 10rem;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

#kontakt-form input[type="submit"]:hover {
    background-color: grey;
}

.kollapsibel {
    background-color: rgb(232, 232, 232);
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 24px;
    overflow: hidden;

}

.kollapsibel label {
    display: flex;
    justify-content: space-between;
    background-color: rgb(187, 209, 181);
    width: 100%;
    cursor: pointer;
    font-size: 1.5rem;
    padding: 1rem;
    box-sizing: border-box;
}

.kollapsibel div {
    padding: 1rem;
}

.kollapsibel-sjekkboks {
    display: none;
}

.kollapsibel-sjekkboks+div {
    display: none;
}

.kollapsibel-sjekkboks:checked+div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

@media only screen and (min-width: 768px) {
    main {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding: 2.5rem;
        gap: 1.25rem;
        width: clamp(65rem, 40%, 110rem);
        margin-left: auto;
        margin-right: auto;
    }

    .seksjon-full {
        grid-column-end: span 3;
    }

    .seksjon-venstre-høyre {
        grid-column-end: span 2;
    }

    nav {
        width: auto;
    }

    h1 {
        font-size: 2.125rem;
    }

    h2 {
        font-size: 1.875rem;
    }

    h3 {
        font-size: 1.5rem;
    }

    p {
        font-size: 1rem;
    }
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 kolonner */
    gap: 10px; /* Mellomrom mellom bilder */
    max-width: 600px; /* Tilpass bredden på grid-beholderen */
    margin: 0 auto; /* Sentere containeren */
}

.grid-container img {
    width: 100%;
    height: auto; /* Behold bildenes proporsjoner */
}

